@layer reset, base, layout, components, utilities;

@view-transition {
  navigation: auto;
}

@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }

  body,
  h1,
  h2,
  h3,
  h4,
  p,
  figure,
  blockquote,
  dl,
  dd {
    margin: 0;
  }

  ul,
  ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  body {
    min-block-size: 100vh;
    line-height: 1.6;
  }

  h1,
  h2,
  h3,
  button,
  input,
  label {
    line-height: 1.1;
  }

  h1,
  h2,
  h3,
  h4 {
    text-wrap: balance;
  }

  p,
  li {
    text-wrap: pretty;
  }

  img,
  picture {
    max-inline-size: 100%;
    display: block;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }
}

@layer base {
  :root {
    --color-white: hsl(0, 0%, 100%);
    --color-gray-100: hsl(0, 2%, 79%);
    --color-brand-400: hsl(25, 88%, 75%);
    --color-brand-500: hsl(25, 88%, 66%);
    --color-green-400: hsl(143, 19%, 49%);
    --color-green-500: hsl(143, 38%, 37%);
    --color-green-600: hsl(145, 29%, 19%);
    --color-brown-500: hsl(10, 5%, 25%);
    --color-brown-600: hsl(9, 7%, 21%);
    --color-brown-700: hsl(9, 8%, 16%);
    --color-brown-800: hsl(0, 6%, 15%);
    --color-brown-900: hsl(0, 6%, 13%);

    --color-orange-500: hsl(28, 43%, 28%);
    --color-red-500: hsl(359, 34%, 24%);
    --color-teal-500: hsl(186, 42%, 25%);

    --font-family-heading: "Outfit", sans-serif;
    --font-family-body: "Fira Sans", sans-serif;

    --font-size-300: 0.875rem;
    --font-size-400: 1rem;
    --font-size-500: 1.125rem;
    --font-size-600: 1.25rem;
    --font-size-700: 1.5rem;
    --font-size-800: 2rem;
    --font-size-900: 3.75rem;
    --font-size-1000: 3.75rem;

    @media (width > 760px) {
      --font-size-500: 1.25rem;
      --font-size-600: 1.5rem;
      --font-size-700: 2rem;
      --font-size-800: 3rem;
      --font-size-900: 5rem;
      --font-size-1000: 7.5rem;
    }

    --text-main: var(--color-gray-100);
    --text-high-contrast: var(--color-white);
    --text-brand: var(--color-brand-500);
    --text-brand-light: var(--color-brand-400);

    --background-accent-light: var(--color-green-400);
    --background-accent-main: var(--color-green-500);
    --background-accent-dark: var(--color-green-600);

    --background-extra-light: var(--color-brown-500);
    --background-light: var(--color-brown-600);
    --background-main: var(--color-brown-700);
    --background-dark: var(--color-brown-800);
    --background-extra-dark: var(--color-brown-900);

    --font-size-heading-sm: var(--font-size-700);
    --font-size-heading-regular: var(--font-size-800);
    --font-size-heading-lg: var(--font-size-900);
    --font-size-heading-xl: var(--font-size-1000);

    --font-size-sm: var(--font-size-300);
    --font-size-regular: var(--font-size-400);
    --font-size-md: var(--font-size-500);
    --font-size-lg: var(--font-size-600);

    --border-radius-sm: 0.25rem;
    --border-radius-md: 0.5rem;
    --border-radius-lg: 0.75rem;
  }
  html {
    font-family: var(--font-family-body), sans-serif;
    font-size: var(--font-size-regular);
    line-height: 1.6;
    color: var(--text-main);
    background-color: var(--background-main);
    scroll-padding: 3rem;
  }

  @media (prefers-reduced-motion: no-preference) {
    html {
      scroll-behavior: smooth;
    }
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: var(--font-family-heading), sans-serif;
    font-weight: 700;
    color: var(--text-high-contrast);
  }

  a {
    color: var(--text-high-contrast);
  }
  a:hover,
  a:focus-visible {
    color: var(--text-brand-light);
  }
  img:not([src$=".svg"]) {
    border-radius: var(--border-radius-lg);
  }
}

@layer layout {
  .flow > * + * {
    margin-top: 1em;
  }

  .flex-group {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
  }

  .grid-flow {
    display: grid;
    gap: 1rem;
  }

  .grid-auto-fill {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(min(300px, 100%), 1fr));
  }

  .equal-columns {
    display: grid;
    gap: var(--equal-columns-gap, 1rem);
    align-items: var(--equal-columns-vertical-align, stretch);

    @media (width > 760px) {
      grid-auto-flow: column;
      grid-auto-columns: 1fr;
    }
    &[data-gap="large"] {
      --equal-columns-gap: 2rem;
    }
    &[data-align="center"] {
      --equal-columns-vertical-align: center;
    }
  }

  .section {
    --padding-block: 3.75rem;

    padding-block: var(--padding-block);

    @media (width > 760px) {
      --padding-block: 8rem;

      &[data-padding="compact"] {
        --padding-block: 4.5rem;
      }
    }
  }

  .wrapper {
    --wrapper-max-width: 1130px;
    --wrapper-padding: 1rem;

    max-width: calc(var(--wrapper-max-width) + var(--wrapper-padding));
    margin-inline: auto;
    padding-inline: var(--wrapper-padding);

    &[data-width="wide"] {
      --wrapper-max-width: 1330px;
    }
    &[data-width="narrow"] {
      --wrapper-max-width: 720px;
    }
  }
}

@layer components {
  .skip-to-main {
    position: absolute;
    top: -40px;
    z-index: 100;
    background-color: var(--background-accent-main);
    color: var(--text-high-contrast);
    transition: top 300ms ease-in-out;
  }
  .skip-to-main:focus {
    top: 0;
  }
  .site-header {
    padding-block: 1rem;
  }
  .header-content {
    display: flex;
    gap: 0.5rem 1rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  [aria-controls="primary-navigation"] {
    z-index: 100;
    background: transparent;
    border: none;
    cursor: pointer;
    display: none;

    @media (width < 760px) {
      display: block;
    }
  }

  .primary-navigation {
    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem 1rem;
    }
    a {
      text-decoration: none;
    }
    @media (width < 760px) {
      display: none;
      opacity: 0;
      transition:
        opacity 1s,
        display 1s;
      transition-behavior: allow-discreate;
      translate: 0 -100%;

      background-color: var(--background-accent-main);
      padding: 2rem;
      position: absolute;
      z-index: 10;
      top: 0;
      right: 0;
      font-size: var(--font-size-lg);
      font-weight: 600;
      font-family: var(--font-family-heading) sans-serif;
      border-radius: 0 0 0 var(--border-radius-lg);

      ul {
        flex-direction: column;
        gap: 0;
      }
      li:not(:first-child) {
        margin-top: 1.5rem;
        padding-top: 1.5rem;
        border-top: 1px solid var(--background-accent-light);
      }

      [aria-expanded="true"] ~ & {
        display: block;
        opacity: 1;
        translate: 0 0;
        @starting-style {
          opacity: 0;
        }
      }
    }
  }
  .hero {
    text-align: center;
    font-size: var(--font-size-md);
    color: var(--text-high-contrast);
    background-image: url("assets/hero.webp");
    background-size: cover;
    background-position: center;
  }
  .hero-title {
    font-size: var(--font-size-heading-lg);
    span {
      font-size: var(--font-size-heading-xl);
      color: var(--text-brand);
      display: block;
    }
  }

  .mushroom-guide {
    --card-title-font-size: var(--font-size-lg);
    --card-title-color: var(--text-high-contrast);
    --card-gap: 0.75rem;
  }

  .faq-bento-grid {
    --card-title-color: var(--text-high-contrast);
    display: grid;
    gap: 5rem;
    grid-template-areas:
      "card-one"
      "card-two"
      "card-three"
      "card-four";

    @media (width> 600px) {
      grid-template-areas:
        "card-one card-two"
        "card-three card-four";
    }

    @media (width > 760px) {
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas:
        "card-one card-two card-four"
        "card-three card-three card-four";
    }

    .card > img {
      height: 100%;
      object-fit: cover;
    }

    @media (width > 600px) {
      .card:nth-child(even) > img {
        order: 3;
      }
    }

    .card:nth-child(1) {
      grid-area: card-one;
    }
    .card:nth-child(2) {
      grid-area: card-two;
    }
    .card:nth-child(3) {
      grid-area: card-three;

      @media (width > 760px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;

        img {
          grid-column: 1/2;
          grid-row: 1/3;
        }
      }
    }
    .card:nth-child(4) {
      grid-area: card-four;
    }
  }

  .card {
    display: grid;
    gap: var(--card-gap, 1rem);
    padding: 1rem;
    background-color: var(--background-light);
    border-radius: var(--border-radius-lg);

    img {
      border-radius: var(--border-radius-md);
    }
  }
  .card-title {
    font-size: var(--card-title-font-size, var(--font-size-md));
    color: var(--card-title-color, var(--text-brand));
  }

  .card-note {
    background-color: var(--background-extra-light);
    padding: 0.75rem;
    border-radius: var(--border-radius-md);
  }

  .tag-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-items: center;

    li {
      font-family: var(--font-family-heading) sans-serif;
      font-weight: 700;
      font-size: var(--font-size-sm);
      color: var(--text-high-contrast);
      padding: 0.125rem 0.25rem;
      border-radius: var(--border-radius-sm);
      min-width: 50px;
      text-align: center;
    }

    [data-edible="edible"] {
      background-color: var(--background-accent-main);
    }
    [data-edible="toxic"] {
      background-color: var(--color-red-500);
    }
    [data-season="summer"] {
      background-color: var(--color-orange-500);
    }
    [data-season="fall"] {
      background-color: var(--color-brand-500);
    }
    [data-season="winter"] {
      background-color: var(--color-teal-500);
    }
    [data-season="spring"] {
      background-color: var(--color-green-500);
    }
  }

  select {
    padding: 0.5rem 1rem;
    background-color: var(--background-accent-main);
    border: 0;
    color: var(--text-high-contrast);
    border-radius: var(--border-radius-md);
  }

  .button {
    text-decoration: none;
    cursor: pointer;
    display: inline-flex;
    background-color: var(--background-accent-main);
    font-family: var(--font-family-heading) sans-serif;
    font-weight: 700;
    border-radius: var(--border-radius-md);
    padding: 0.5rem 1rem;
    font-size: var(--font-size-md);
    transition: background-color 200ms ease-in-out;
  }
  .button:hover,
  .button:focus-visible {
    background-color: var(--background-accent-light);
    color: var(--text-high-contrast);
  }

  .site-footer {
    padding-block: 2rem;
    text-align: center;
    display: grid;
    gap: 2rem;
    background-color: var(--background-dark);

    p {
      font-size: var(--font-size-md);
      font-family: var(--font-family-heading) sans-serif;
      font-weight: 700;
    }
  }
}

@layer utilities {
  .visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  [hidden] {
    display: none;
  }

  .text-center {
    text-align: center;
  }
  .text-brand {
    color: var(--text-brand);
  }
  .text-high-contrast {
    color: var(--text-high-contrast);
  }

  .section-title {
    font-size: var(--font-size-heading-regular);
  }

  .background-base {
    background-color: var(--background-main);
  }
  .background-light {
    background-color: var(--background-light);
  }
  .background-extra-light {
    background-color: var(--background-extra-light);
  }
  .background-dark {
    background-color: var(--background-dark);
  }
  .background-extra-dark {
    background-color: var(--background-extra-dark);
  }

  .background-accent {
    background-color: var(--background-accent-dark);
  }

  .font-size-sm {
    font-size: var(--font-size-sm);
  }
  .font-size-regular {
    font-size: var(--font-size-regular);
  }
  .font-size-md {
    font-size: var(--font-size-md);
  }
  .font-size-lg {
    font-size: var(--font-size-lg);
  }
}
